.deck-column {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

.deck-body {
    display: flex;
    justify-content: center;
}

.card {
    width: 100%;
    height: 35vh;
    max-height: 350px;
    min-height: 200px;
    background-color: var(--card-color);
    border-radius: var(--border-radius);
    padding: 16px;
    margin: 8px 0;
    position: relative;
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
    text-align: center;
}

.card > div {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.card.active {
    display: block;
}

.card .card-front {
    display: flex;
}

.card .card-back {
    display: none;
}

.card.flipped .card-back {
    display: flex;
}

.card.flipped .card-front {
    display: none;
}

.deck-nav {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}

.deck-nav div.button {
    border-radius: 100%;
    border: 2px solid var(--text-color);
    padding: 4px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .14s background-color;
}

.deck-nav div.button:hover {
    background-color: var(--button-hover-color);
}

.card-nav {
    pointer-events: none;
    display: flex;
    gap: 16px;
    opacity: .5;
    transition: opacity .14s;
}

body :has(.card.flipped) .card-nav {
    pointer-events: all;
    opacity: 1;
}

.deck-info {
    position: relative;
}

.deck-download-button {
    position: absolute;
    top: 4px;
    right: 4px;
    color: var(--text-color);
    font-size: 1.5rem;
}