.filepond {
    width: 100%;
    transition: .1s;
    margin: 8px 0 4px;
    border-radius: var(--border-radius);
}

.filepond--root, .filepond--drop-label {
    height: 80px;
    margin-bottom: 0 !important;
}

.filepond .filepond--panel-root {
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
}

.filepond--drop-label label {
    color: var(--text-color);
}

.filepond:hover {
    box-shadow: hsl(220, 70%, 40%, .3) 0px 3px 5px;
}

.filepond--credits {
    display: none;
}