{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/deck.css') }}?v=000">
{% endblock %}


{% block body %}

{% if error %}
<div class="deck-processing-error">
    An error occured when processing your anki deck: {{ error }}
</div>
{% endif %}

<div class="deck-column">
    <div class="deck-info">
        <h1>{{ deck_name }}</h1>
        <div class="deck-status"></div>
    </div>
    <div class="deck-body">
        {{ deck_body | safe }}
    </div>
    <div class="deck-nav">
        <div class="prev-button button"><i class="fa-solid fa-arrow-left"></i></div>
        <div class="card-nav">
            <div class="incorrect-button button"><i class="fa-solid fa-xmark"></i></div>
            <div class="correct-button button"><i class="fa-solid fa-check"></i></div>
        </div>
        <div class="next-button button"><i class="fa-solid fa-arrow-right"></i></div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/deck.js') }}?v=000"></script>
{% endblock %}